# Dependencies (Folder library)
node_modules/
venv/
__pycache__/

# Output hasil build
dist/
build/
.next/

# Environment Variables (Rahasia/Kredensial)
.env
.env.local
.env.production

# System files
.DS_Store
Thumbs.db